@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "tailwindcss";

html {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-feature-settings: "liga" off, "clig" off;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color: #2563EB;
  --secondary-color: #14B8A6;
  
  --light-gray: #F8FAFC;
  --border: #E5E7EB;

  --text-primary: #111827;
  --text-secondary: #6B7280;

  --status-success: #16A34A;
  --status-warning: #F59E0B;
  --status-disable: #9CA3AF;

  --border-radius: 0.25rem;
}