@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "tailwindcss";

:root {
  --primary-color: #2563EB;
  --secondary-color: #14B8A6;
  
  --light-gray: #F8FAFC;
  --border: #E5E7EB;

  --text-primary: #111827;
  --text-secondary: #6B7280;

  --status-success: #16A34A;
  --status-warning: #F59E0B;
  --status-disable: #9CA3AF;

  --border-radius: 0.25rem;
}